.form-select{
    width: 10%;
}
.bi-pencil-fill{
    color: #868FA0;
    text-decoration: none;
}
.bi-trash-fill{
    color: #D12953;
    border: 1px solid transparent;
}
.table-balance{
    color: #D12953;
}
.table-rate{
    color: 464F60;
}
.table-description{
    color: #464F60;
}
.table-name{
    color: #171C26;
}
.table-status{
    padding: 4px 20px 4px 20px;
    background-color: #EBF0FA;
    border-radius: 25%;
}
.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}